body {
    display: grid;
    grid-template-rows: 1fr 10fr 1.5fr;
    grid-auto-flow: row;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


header {
    display: flex;
    background-color: #164e63;
    color: white;
    justify-items: center;
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1 ;
    align-items: center;
    justify-content: space-between;
}

header p {
    width: 65%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

.buttons {
    width: 33%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttons button {
    background-color: black;
    color: white;
    border-radius: 12px;
    width: 25%;
    height: 100%;
    font-size: 120%;
    font-weight: bold;
}

main {
    background-color: #d4a16b;
    grid-row: 2 / 3;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 0.5fr));
    grid-template-rows: repeat(auto-fit, minmax(10%, 1fr));
    margin: auto;
    width: 90%;
    height: 60%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: #164e63;
    color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    font-size: 150%;
}

.button-card {
    width: 30%;
    height: 100%;
    border-radius: 12px;
    border: none;
    font-size: 80%;
}

.read:hover {
    background-color: #a2d87e;
    color: black;
}

.remove:hover {
    background-color: #ed7d63;
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
    height: 10%;
}

.quote-and-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 30%;
}

#add-book {
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 15%;
    height: 20%;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.display {
    display: flex;
    position: absolute;
    top: 35%;
    left: 40%;
  }
  

#naval {
    font-style: italic;
    font-size: 150%;
}

button:hover, #submit:hover {
    transform: scale(1.05);
    transition: 0.1s ease-in-out;
    cursor: pointer;
}


footer {
    background-color: #164e63;
    color: white;
    grid-row: 3 / 4;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#follow-p {
    font-size: 250%;
    padding: 1%;
}


.social-media {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.icon {
    font-size: 150%;
    padding: 1%;
}


a {
    color: white;
    text-decoration: none;
    font-size: 100%;
}


#quote {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 150%;
}

.github *:hover {
    fill: black;
}

.twitter *:hover {
    fill: #1D9BF0;
}

.linkedin *:hover {
    fill: #0A66C2;
}

.instagram *:hover {
    fill: #833AB4;
}

#open-tab {
    display: none;
    border: 3px solid black;
    width: 20%;
    height: 40%;
    margin: auto;
    background-color: #164e63;
    color: white;
    font-weight: bold;
    font-size: 120%;
}

#form {
    margin: auto;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    text-align: center;
}

.input {
    display: flex;
    flex-direction: column;
}


.radio {
    display: inline;
    margin-top: 3%;
    margin-right: 3%;
}

#submit, #upload {
    margin: 0 auto;
    width: 30%;
    height: 8%;
    width: 40%;
    background-color: black;
    color: white;
    border-radius: 12px;
    height: 100%;
}

.card-buttons {
    display: flex;
    flex-direction: row;
    height: 8%;
}

input[type="text"] {
    margin: 0 auto;
    margin-top: 3%;
    width: 90%;
    height: 30px;
}


.card-images {
    width: 80%;
    height: 80%;
}

.info-div {
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-text {
    width: 70%;
    height: 90%;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-evenly;
}

.div-img {
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}